*{
    margin: 0;
    padding: 0;
}

/*index */
.body{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin: 0;
}
a{
    text-decoration: none;
    color: white;
}

header{
    display: flex;
  min-height: 80px;
   background-color: blueviolet ;
   justify-content:space-between;
   align-items: center;
    padding: 10px;
}
.logo{
display: flex;
align-items: center;
}
.logo img{
height: 70px;
margin-right: 10px;
}
.nombre-empresa{
    color: white;
}
nav a{
    font-weight: 600;
    padding: 10px;
}
nav a:hover{
    color: yellow;
}
@media( max-whidth:700px){
    header {
        flex-direction: column;
    }
nav{
    padding: 10px 0px;
}

}

.main{
    background-color: white;
    color:blueviolet
}
.section-container{
    background: rgb(97, 37, 150);
    color: white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:  center;
    align-items: center;
}

    
     
    p {
        color:white;
        background-color:rgb(97, 37, 150);
        text-align: center;
    }
    .grid{
    
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 1rem;
        
            }
            
            .div1 { grid-area: 3 / 2 / 4 / 3; }
    
    
    .grid__img{
        display: grid;
       border-radius: 10px;
        object-fit: cover;
    }
    .grid-footer{
        display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px
    }
    .grid-hijo{
        background-color: white;
    }

  /*pagina contacto*/
main{
    background-color: #e5e5f7;
opacity: 0.8;

background-size: 20px 20px;
background-position: 0 0,10px 10px;
}

.form{
    background-color: white;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(97, 37, 150/ 30%);
    text-align: center;
}
.form__titulo{
    font-size: 2rem;
    margin-bottom: .5em;

}
.form__paragraph{
    font-weight: 300;
}
.form__container{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}
.form__group{
 position: relative ; 
 --color:#5757577e;  
}
.form__input{
    width: 100%;
    background-color: none;
    color: darkgray;
    font-size: 1rem;
    padding: .6em 3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(-- color);
    font-family: sans-serif;
}

.form__input:focus + .form__label,
.form__input:not(placeholder-show) + .form__label{
  transform:translateY(-12px) scale(.7);
    transform-origin: left top;
    color: yellow;
}
.form__label{
    color: var(--color);
    cursor:pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color 3s;
}
.form__submit{
    background-color: #d050e3;
    color: white;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
    }.form__line{
        position: absolute;
       bottom: 0;
       left: 0;
       width: 100%;
       height: 1px;
       background-color: yellow;
       transform: scale(0);
       transform: left bottom;
    }
/*header veterinaria*/

.container-vet{
    display: grid;
    gap: 2.6em;
    grid-template-columns:repeat(6 , 1fr);
   
    background: rgb(230, 139, 195);
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;


}

.container-vet > .header-vet,
.container-vet > .content-vet,
.container-vet> .sidebar,
.container-vet > .footer-vet,
.container-vet > div {
    background: #d050e3;
    color: white;
    padding: 10px;
    border: 1px solid #d050e3;
}
.container-vet .header-vet,
.container-vet .footer-vet {
    grid-column: 1/7;
    background: #d050e3;
    color: white;
    justify-content: center;
    text-align: center;
    
}

.container-vet .content-vet{
    grid-column: span 3;
}
.content-vet .article{
    background:  #d050e3;
    padding: 90px;
    margin-top: 5px;
    color: white;
   
}
.container-vet .sidebar{
    grid-column: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.container-vet .sidebar img{
    width: 100%;
    margin-top: 90px;
}

@media screen and ( max-width: 768px) {
    .header-vet{
        text-align: center;
    }
    .container-vet .content-vet{
        grid-column: 1/-1 ;
    }
    .container-vet .sidebar{
        grid-column: 1/-1;
    }
}

